/*----------Main----------*/

.hero{
    @extend %vertical-flex;
    width: 100%;
    height: 90vh;
    // background-color: $color-principal;
    // border: solid 1px $color-secundario;
    // margin: 5px;
    background-image: url("../img/hola.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    h1{
        margin: 3px;
        font-size: 60px;
        background-color: $color-principal;
        color: $color-secundario;
        border-radius: 5px;
    }
    p{
        font-size: 35px;
        text-align: center;
        margin: 10px;
        font-weight: 8px;
    }
    div{
        @extend %horizontal-flex;
        a{
            margin: 3px;
            background-color: $color-principal;
            border: none;
            &:hover{
                background-color: gray;
            }
        }
    }
}

.contenedores{
    @extend %vertical-flex;
    margin: 30px;

    .titulo-zona{
        @extend %horizontal-flex;
        font-size: nth($font-size,1);
        background-color: $color-principal;
        width: 33%;
        a{
            text-decoration: none;
            color: $color-secundario;
            width: 100%;
            text-align: center;
        }
    }
    .zona{
        @include flex (flex,space-around,center,row);
        transition-property: width;
        width: 100%;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            // border: 1px solid gray;
            width: 250px;
            height: auto;
            margin: 30px;
            text-align: center;
            /* transition: width 5s ease in 2s; */
            transition: 1.5s;
            &:hover{
                transform: scale(1.1);
            }
            img{
                width: auto;
                height: 250px;    
            }
            a{
                text-decoration: none;
                color: $color-secundario;
                background-color: $color-principal;
                font-weight: bold;
                padding: 3px 10px;
            }
        }
    }
}

.grid-galeria{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
    "intro intro intro intro"
    "aside main main main";
    div{
        width: 100%;
        height: auto;
        img{
            width: 100%;
            height: 100%;    
        }
    }
    .introduccion{
        /* background-color: red;
        border: red; */
        grid-area: intro;
        text-align: center;
        h1{
            font-size: nth($font-size,2)
        }
        p{
            margin: 10px;
        }
    }
    .proyectos{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        padding:  30px;
        /* background-color: blue;
        border: blue; */
        grid-area: main;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 250px;
            height: auto;   
            margin: 5px;
            transition: 1.5s;
            /* border: 1px solid green; */
            &:hover{
                transform: scale(1.1);
            }
            img{
                width: auto;
                height: 250px;    
            }
            a{
                text-decoration: none;
                color: $color-secundario;
                background-color: $color-principal;
                font-weight: bold;
                padding: 3px 10px;
            }
        }
    }
    .anuncio{
        background-color: $color-principal;
        grid-area: aside;
        @extend %vertical-flex;
        text-align: center;
        margin: 5px;
        a{
            width: 150px;
            margin: 3px;
            color: $color-secundario;
            border: solid 1px $color-secundario;
        }
    }
}